@page "/products"

<PageTitle>Products List</PageTitle>

<h1 class="text-center">Products</h1>

<div class="text-end">
    <button type="button" class="btn btn-primary text-end" @onclick="NavigateToCreatePage">
        Create New
    </button>
</div>

@if (ProductList == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <SearchComponent SearchTextChanged="HandleSearchClickAsync" />

    <select class="form-select-sm mt-2" @onchange="HandleCategoryChangedAsync">
        <option value="0">Select Category</option>
        @if (CategoryList != null)
        {
            @foreach (var category in CategoryList)
            {
                <option value="@category.Id">@category.Name</option>
            }
        }
    </select>

    <select class="form-select-sm mt-2 m-lg-2" @onchange="HandleQuantityChangedAsync">
        <option value="-1">Select Quantity</option>
        @for (int i = 1; i <= 6; i++)
        {
            <option value="@i">@i</option>
        }
    </select>

    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Code</th>
                <th scope="col">Name</th>
                <th scope="col">Category</th>
                <th scope="col">Quantity</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in ProductList.DataList)
            {
                <tr>
                    <td>@product.Code</td>
                    <td>@product.Name</td>
                    <td>@product.CategoryName</td>
                    <td>@product.Quantity</td>
                    <td>
                        <button type="button" class="btn btn-primary" @onclick="(() => NavigateToEditPage(product.Id))">
                            Edit
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <PaginationComponent PaginationType="ProductList" PageNumberChanged="HandlePageChangedClickAsync" PageSizeChanged="HandlePageSizeChangedAsync" />
}